.success {
  color: green;
}
.error {
  color: red;
}
.app {
  display: flex;
  flex-direction: column;
  background-image: url(https://us.123rf.com/450wm/noiployngam/noiployngam1406/noiployngam140600021/29140297-background-germany-flag-color.jpg?ver=6);
  background-size: cover;
  height: -webkit-fill-available;
}
.header-bar {
  display: flex;
  justify-content: space-between;
  /* color: ghostwhite; */
}
.buttonGroup {
  display: flex;
}
.dashboard {
  /* color: azure; */
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home {
  /* color: azure; */
}
.register {
  text-decoration-line: none;
  color: #ff9800;
}
